@charset "utf-8";

/* header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-left: 2.6%;
  /* ↑ 52 / 1990 = 0.026*100=2.6% 
    ロゴ横の幅をものさしツール計測 52
    アートボードの設定幅 1990*/
  padding-right: 7%;
  /* ↑ 140 / 1990 = 0.070*100=7% */
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  z-index: 9999;
}

.header-nav ul {
  display: flex;
  gap: 75px;
  background-color: transparent;
}

.header-nav li {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
}

.logo {
  width: 227px;
  background-color: transparent;
}

.slider img {
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 376px) {
  .header-container {
    max-width: 375px;
  }

  .slider img {
    display: none;
  }

  .header-nav ul {
    display: none;
  }

  .logo {
    width: 187px;
    background-color: transparent;
  }
}

/* text area */
.text-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.text-area {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.sub-text-en {
  font-size: 30px;
  padding: 100px 0 50px;
  line-height: 3.8;
  text-align: center;
}

.main-text {
  font-size: 82px;
  padding-bottom: 45px;
  line-height: 1.17;
  text-align: center;
}

.sub-text-ja {
  font-size: 23px;
  line-height: 1.65;
  text-align: center;
}

@media screen and (max-width: 376px) {
  .text-container {
    max-width: 375px;
    padding: unset;
  }
  .text-area {
    max-width: 100%;
    padding-bottom: 65px;
  }

  .sub-text-en {
    font-size: 17px;
    padding: 40px 0 23px;
    line-height: 1.29;
    text-align: center;
  }

  .main-text {
    max-width: 375px;
    font-size: 38px;
    padding: 0 0 15px 0;
    line-height: 1.15;
    text-align: center;
  }

  .main-text + .main-text {
    padding-bottom: 25px;
  }

  .sub-text-ja {
    font-size: 16px;
    line-height: 1.87;
  }

  .sub-text-ja span {
    display: inline-block;
  }
}

/*** section共通 ***/
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  max-width: 1000px;
}

/* aboutのみ title */
.section-ttl-about {
  width: 272px;
}

/* about以外 title */
.section-title {
  height: 78px;
  text-align: center;
}

.section-title img {
  height: inherit;
}

.sp_img {
  display: none;
}

@media screen and (max-width: 376px) {
  .container {
    max-width: 375px;
    padding: 0 18px;
  }

  .section-ttl-about {
    width: 160px;
  }

  .section-title {
    height: 45px;
  }

  .sp_img {
    display: block;
    width: 100%;
    max-width: 375px;
  }
}

/* about */
.about-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.about-wrap {
  display: flex;
  justify-content: center;
  gap: 7%;
  align-items: center;
}

.about-main-img {
  width: 50%;
  height: 557px;
}

.about-main-img img {
  border-radius: 0 0 10% 0;
}

.about-text-area {
  width: 43%;
  padding-top: 65px;
}

.about-ttl-img {
  margin-left: 0;
}

.about-text-main {
  font-size: 44px;
  padding-top: 58px;
  line-height: 1.38;
}

.about-text-sub {
  padding: 30px 0 55px 0;
  line-height: 1.63;
}

@media screen and (max-width: 376px) {
  .about-container {
    max-width: 375px;
    padding: 0 0;
    margin: 0 auto;
  }

  .about-wrap {
    display: block;
  }

  .about-main-img {
    width: 100%;
    max-width: 375px;
    height: auto;
  }

  .about-main-img img {
    display: none;
  }

  .section-ttl-about {
    margin: 0 auto;
    padding-bottom: 16px;
  }

  .about-text-area {
    width: 375px;
    padding: 0;
  }

  .about-ttl-img {
    margin: 0 auto;
    text-align: center;
  }

  .about-text-main {
    font-size: 36px;
    line-height: 1.25;
    text-align: left;
    padding: 36px 20px 0 20px;
  }

  .about-text-main span {
    border-bottom: 1px solid red;
    margin-bottom: -20px;
  }

  .about-text-sub {
    padding: 35px 20px 55px 20px;
    line-height: 1.75;
  }
}

/* menu */
.menu {
  padding-top: 108px;
}

.menu-list {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.menu-item {
  padding-top: 50px;
}

.menu-img {
  border-radius: 0 30px 0 0;
}

.menu-ttl-img {
  margin-top: -20px;
  margin-left: 17px;
}

.menu-text {
  font-size: 17px;
  padding-top: 23px;
  line-height: 1.47;
  margin-bottom: 98px;
}

@media screen and (max-width: 376px) {
  .menu {
    padding-top: 0;
  }

  .menu-img {
    width: 328px;
  }

  .menu-list {
    display: block;
    margin: 0 auto;
  }

  .menu-item {
    padding-top: 20px;
  }

  .menu-ttl-img {
    margin-top: -18px;
    margin-left: 15px;
  }

  .menu-text {
    padding-top: 30px;
    line-height: 1.58;
    margin-bottom: 65px;
  }
}

/* gallery */
.gallery {
  width: initial;
  max-width: 100%;
  margin: 0 auto;
}

.gallery-nav {
  padding-top: 27px;
  width: unset;
}

.gallery-img-list {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 376px) {
  .gallery {
    padding-top: 25px;
  }

  .gallery-img-list {
    display: block;
  }

  .gallery-item:not(:nth-child(3)) {
    display: none;
  }
}

/* event */
.event {
  padding-top: 75px;
}

.gallery-nav {
  padding-top: 20px;
}

.event-box {
  padding-top: 42px;
  text-align: center;
}

.event-list {
  text-align: center;
  padding: 42px 160px 38px 160px;
  display: inline-block;
  border: 3.68px solid;
  background-color: #fff;
}

.event-contents {
  display: flex;
  gap: 47px;
  padding-top: 18px;
  align-items: center;
  background-color: inherit;
}

.event-date {
  font-size: 23px;
  background-color: inherit;
}

.event-text {
  font-size: 23px;
  border-bottom: 2px solid;
  background-color: inherit;
}

@media screen and (max-width: 376px) {
  .event {
    padding-top: 34px;
  }

  .event-box {
    padding: 17px 0 32px 0;
  }

  .event-list {
    max-width: 375px;
    padding: 20px 0;
    background-color: #fff;
  }

  .event-contents {
    display: block;
    width: 330px;
    padding-left: 27px;
    padding-right: 13px;
    align-items: flex-start;
  }

  .event-contents:nth-child(1) {
    width: 260px;
  }

  .event-contents:nth-child(2) {
    width: 330px;
  }

  .event-contents:nth-child(3) {
    width: 300px;
  }

  .event-contents + .event-contents {
    padding-top: 25px;
  }

  .event-date {
    font-size: 16px;
    text-align-last: left;
  }

  .event-text {
    font-size: 16px;
    border-bottom: 2px solid;
    text-align-last: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
  }
}

/* access */
.access {
  width: unset;
  max-width: 100%;
  margin: 75px auto 0;
}

.access-map iframe {
  width: 100%;
  max-width: 100%;
  margin-top: 45px;
  filter: grayscale(100%) invert(92%) contrast(83%);
}

@media screen and (max-width: 376px) {
  .access {
    margin: 0 auto;
  }

  .access-map iframe {
    height: 191px;
    margin-top: 8px;
  }
}

/* footer */
.footer {
  width: 100%;
  height: 395px;
  background-color: #fff;
}

.footer-container {
  max-width: 1000px;
  display: flex;
  gap: 70px;
  padding-top: 82px;
  margin: 0 auto;
  position: relative;
}

.footer-logo img {
  width: 227px;
}

.shop-information {
  font-size: 20px;
  line-height: 1.95;
  background-color: inherit;
}

.footer-top-page {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 125px;
}

.copy-right {
  line-height: 2.18;
  background-color: inherit;
  text-align: center;
  padding-top: 75px;
}

@media screen and (max-width: 376px) {
  .footer {
    height: 310px;
    background-color: #fff;
  }

  .footer-container {
    max-width: 375px;
    display: block;
    padding-top: 41px;
    padding-left: 20px;
    margin: 0 auto;
    position: static;
  }

  .shop-information {
    font-size: 18px;
    line-height: 1.72;
    padding-top: 26px;
  }

  .footer-top-page {
    position: fixed;
    bottom: 233px;
    right: 12px;
    width: 100px;
  }

  .copy-right {
    padding-top: 46px;
    padding-bottom: 26px;
  }
}
